.banner__fonts {
    background-color: #4B5DFF;
    width: 1202px;
    height: 352px;
    border-radius: 10px;
    color: #D7DEFF;
    position: relative;
    overflow: hidden;
}

.banner__fonts::before {
    position: absolute;
    content: "";
    width: 373px;
    height: 359px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -34px;
    top: 77px;
    z-index: 5;
    background-image: url("./fotoBottom.png");
}

.banner__fonts::after {
    position: absolute;
    content: "";
    border-radius: 30px;
    width: 373px;
    height: 359px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 139px;
    top: 117px;
    z-index: 7;
    background-image: url("./fotoTop.png");
}

.banner__fonts__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #D7DEFF;
    padding: 77px 0 10px 42px;
}

.banner__fonts__text {
    width: 624px;
    font-family: "Montserrat" sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding-bottom: 41px;
    padding-left: 42px;
}

.banner__fonts__button {
    margin-left: 42px;
    width: 180px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #4B5DFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.4s;
}

.banner__fonts__button:hover {
    font-size: 18px;
    font-weight: 700;
}

.oleg {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}